* {
    margin: 0;
}

body, html {
    background-color: #313B38;
    overflow-x: hidden;
    background-image: url("tile.png");
    background-repeat: repeat;
    background-size: 200px;
}

h1 {
    font-family: "Jersey 10", sans-serif;
    font-size: 80px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 0 5px #313B38;
}

p {
    font-family: "Jersey 10", sans-serif;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 0 10px #313B38;
}

embed {
    border: 4px solid #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color: #DDDDDD;
}
